body{
    background-image: url("/images/space.jpg");
    background-size: cover;
    margin: 0px 0px;
}

button{
    cursor: pointer;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

#pageInfo{
    flex-basis: 100%;
    margin-bottom: 10px;
    background-color: aliceblue;
    position: sticky;
    top: 0px;
    p{
        text-align: center;
        margin: 5px 4px;
    }
    .name{
        font-weight: 900;
    }
    .title{
        font-weight: 900;
        font-size: larger;
    }
}

#footerBar{
    flex-basis: 100%;
    margin-top: auto;
    background-color: aliceblue;
    bottom: 0;
    justify-content: space-between;
    div{
        margin-top: 10px;
    }
    span{
        text-align: center;
        margin: 10px 5px;
    }
    .dataCountLabel, .dataCount{
        font-size: larger;
        font-weight: 900;
        margin-bottom: 10px;
    }
    .visInfo{
        font-weight: 900;
    }
    .clearFiltersButton {
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 20px;
        background-color: white; 
        color: black; 
        border: 2px solid #f44336;
      }
      .clearFiltersButton:hover {
        background-color: #f44336;
        color: white;
      }
}

#barchart1{
    background-color: rgb(204, 237, 219);
}

#barchart2{
    background-color: rgb(242, 222, 217);
}

#barchart3{
    background-color: rgb(223, 238, 247);
}

#barchart4{
    background-color: rgb(238, 243, 186);
}

#dualbarchart{
    background-color: rgb(249, 212, 251);
    circle{
        cursor: pointer;
        &.active{
            stroke: rgb(255, 255, 255);
            stroke-width: 3px;
        }
    }
}

.histHolder{
    margin-bottom: -63px;
    .binInput{
        margin: 0;
    }
    #histogram{
        background-color: rgb(238, 214, 184);
    }
}

.binInput{
    transform: translate(150px, -295px);
}

.lineChartHolder{
    flex-basis: auto;
    background-color: rgb(203, 203, 245);
    #linechart{
        .chart-line {
            fill: none;
            stroke: rgb(105, 179, 162);
            stroke-width: 3px;
            clip-path: url(#clip);
        }
    }
}

#scatterplot{
    background-color: rgb(198, 232, 221);
    .solarSystemLabel{
        user-select: none;
        stroke: #fff;
        paint-order: stroke;
    }
    circle:hover{
        stroke: #000;
    }
}

.barchart{
    .bar{
        fill: rgb(105, 179, 162);
        cursor: pointer;
    }
    .x-axis{
        .tick{
            text.active{
                stroke: #676565;
                paint-order: stroke;
            }
            text{
                cursor: pointer;
            }
        }
    }
}

#planetDataTable{
    overflow-y: auto;
    height: 230px;
    flex-basis: 100%;
    table, th, td{
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td{
        padding-left: 5px;
        padding-right: 5px;
    }
    thead th {
        background-color: rgb(65, 64, 64);
        color: #fff;
        transform: translate(0px, -2px);
    }
    thead {
        background-color: aliceblue;
        position: sticky;
        width: 9%;
        top: 0px;
    }
    tbody tr:nth-child(odd){
        background: #c6d6f2;
        color: #000000;
      }
    tbody tr:nth-child(even){
    background: #ffffff;
    color: #000000;
    }
    tbody tr:hover{
        cursor: pointer;
        background: #bbb9b9;
    }
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bar{
    shape-rendering: crispEdges;
}
.bar:hover{
    stroke: #777;
}
.bar.active{
    stroke: #333;
    stroke-width: 4px;
}

/* Tooltip */
#tooltip {
    position: absolute;
    display: none;
    background: #fff;
    box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 500;
    padding: 8px;
    min-width: 160px;
    color: #333;
    z-index: 10;
}
.tooltip-title {
    color: #000;
    font-size: 14px;
    font-weight: 600;
}
#tooltip ul {
    margin: 5px 0 0 0;
    padding-left: 20px;
}

/* System Browser */
#systemBrowser {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background: #fff;
    box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 500;
    padding: 8px;
    width: 1000px;
    height: 620px;
    color: #333;
    .headerBar{
        background-color: #ddd;
    }
    .systemName{
        color: #000;
        font-size: 22px;
        font-weight: 600;
        text-align: center;
        padding: 5px;
        padding-left: 55px;
    }
    .selectedPlanet{
        font-size: 18px;
        text-align: center;
    }
    .discoveryFacility{
        font-size: 18px;
        text-align: center;
    }
    .closeButton{
        float: right;
        background-color: white; 
        color: black; 
        border: 2px solid #f44336;
    }
    .closeButton:hover{
        background-color: #f44336;
        color: white;
    }
}